.view-blog-posts.view-display-id-page  .views-row{
  border-bottom: 5px solid #4d4d4d;
  border-bottom: 5px solid rgba(77,77,77,.3);
  padding: 1rem;
  margin-bottom: 1rem;
}

.view-blog-posts.view-display-id-page  .views-row:last-of-type{
  margin-bottom: 0;  
  border-bottom: 0;
}

.view-blog-posts.view-display-id-page  .views-row .author, .view-blog-posts.view-display-id-page .submitted{
  font-size: .7rem;
  color: #4d4d4d;
  color: rgba(77,77,77,.3);
}

.view-blog-posts.view-display-id-page  .views-row h2 a{
  font-weight: bold;
  text-decoration: none;  
}

.view-blog-posts.view-display-id-page .links {
    text-align: right;
    width: 100%;
    display: block;
}